{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": [
    "prettier/@typescript-eslint",
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "import/prefer-default-export": 0,
    "import/extensions": 0,
    "no-useless-constructor": 0,
    "max-classes-per-file": 0,
    "lines-between-class-members": 0,
    "spaced-comment": [
      2,
      "always"
    ],
    "indent": [
      "error",
      2
    ],
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "camelcase": "off",
    "guard-for-in": "off",
    "linebreak-style": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "implicit-arrow-linebreak": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "class-methods-use-this": "off",
    "no-throw-literal": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts"
        ]
      }
    }
  }
}
