{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": ["prettier/@typescript-eslint", "airbnb-base"],
  "rules": {
    "import/prefer-default-export": 0,
    "no-useless-constructor": 0,
    "max-classes-per-file": 0,
    "lines-between-class-members": 0,
    "spaced-comment": [2, "always"],
    "indent": ["error", 2],
    "quotes": [2, "single", { "avoidEscape": true }],
    "camelcase": "off",
    "guard-for-in": "off",
    "linebreak-style": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts"]
      }
    }
  }
}
